<!-- <main> -->
  <div class="row margTop3">
    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
      <ul class="lmskew">
        <!-- <li
          [ngClass]="{ menuactive: menuPosition == 0 }"
          (click)="onclickMenu(0)"
          routerLink="profile"
        >
          <span class="lm-icn">
            <mat-icon>account_circle</mat-icon>
          </span>
          Profile
        </li> -->
        <div class="clear"></div>
        <li
          [ngClass]="{ menuactive: menuPosition == 1 }"
          (click)="onclickMenu(1)"
          routerLink="/transaction/new-transaction"
        >
          <mat-icon>add_chart</mat-icon>
          <span class="lm-icn"> </span>
          New Transaction
        </li>
        <div class="clear"></div>
        <li
          [ngClass]="{ menuactive: menuPosition == 2 }"
          (click)="onclickMenu(2)"
          routerLink="/transaction-history/transaction-history"
        >
          <span class="lm-icn">
            <mat-icon>query_stats</mat-icon>
          </span>
          Submitted Transaction
        </li>
        <div class="clear"></div>
      </ul>
    </div>

    <div class="col-lg-10 col-md-9 col-sm-9 col-xs-9">
      <router-outlet></router-outlet>
    </div>
  </div>
<!-- </main> -->
