<div id="grad1" class="totalHeight">
  <div class="row">
    <div class="col-lg-4 col-md-4"></div>
    <div class="col-lg-4 col-md-4">
      <div class="col-md-12 col-sm-12 frmpReg">
        <div class="col-md-1 col-sm-1"></div>
        <div class="col-lg-10 col-md-10">
          <mat-card>
            <form [formGroup]="userForm">
              <mat-card-title><span class="margLeft3">Registration</span>
              </mat-card-title>
              <mat-card-subtitle><span class="margLeft3">signup to continue</span></mat-card-subtitle>
              <mat-card-content>
                <div class="margTop10"></div>
                <div class="margTop10">
                  <span class="floattxtUserId">User Id</span>
                  <input type="email" class="logininput" formControlName="userName"
                    placeholder="Enter your User Id here" />
                </div>
                <div class="margTop10">
                  <span class="floattxtemail">Email Id</span>
                  <input type="text" class="logininput" formControlName="emailID"
                    placeholder="Enter your  Email Id here" />
                </div>
                <div class="margTop10">
                  <span class="floattxtnewPass">New Password</span>
                  <input type="password" class="logininput" formControlName="newPassword"
                    placeholder="Enter your new Password here" />
                </div>
                <div class="margTop10">
                  <span class="floattxtConfPass">Confirm Password</span>
                  <input type="password" class="logininput" formControlName="confPassWord"
                    placeholder="Re enter your password here" />
                </div>
                <mat-card-actions>
                  <div class="margTop10">
                    <button type="button" class="btn loginbtn" (click)="register()">
                      Submit
                    </button>
                  </div>
                </mat-card-actions>
                <mat-card-footer>
                  <div class="margTop10 textAlignCenter">
                    <p>
                      Already Registered?
                      <a routerLink="/authorize/login">Back to Login</a>
                    </p>
                  </div>
                </mat-card-footer>
              </mat-card-content>
            </form>
          </mat-card>
        </div>
        <div class="col-md-1 col-sm-1"></div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4"></div>
  </div>
</div>
