<div id="grad1" class="totalHeight">
  <div class="row">
    <div class="col-lg-4 col-md-4"></div>
    <div class="col-lg-4 col-md-4">
      <div class="col-md-12 col-sm-12 frmpadtp">
        <div class="col-md-1 col-sm-1"></div>
        <div class="col-lg-10 col-md-10">
          <mat-card>
            <form>
              <mat-card-title
                ><span class="margLeft3">Welcome</span>
              </mat-card-title>
              <mat-card-subtitle
                ><span class="margLeft3"
                  >Login to continue</span
                ></mat-card-subtitle
              >
              <mat-card-content>
                <div class="margTop10"></div>
                <div class="margTop10">
                  <span class="floattxt">User Id</span>
                  <input
                    type="email"
                    class="logininput"
                    placeholder="Enter your User Id here"
                    #loginemail
                  />
                </div>
                <div class="margTop10">
                  <span class="floattxtPass">Password</span>
                  <input
                    type="password"
                    class="logininput"
                    placeholder="Enter your password here"
                    #loginemail
                  />
                </div>
                <mat-card-actions>
                  <div class="margTop10">
                    <button
                      type="button"
                      class="btn loginbtn"
                      (click)="submitLogin()"
                    >
                      Submit
                    </button>
                  </div>
                </mat-card-actions>
                <mat-card-footer>
                  <div fxLayoutAlign="center" class="margTop10">
                    <p>New User? <a (click)="newUser()">Register</a></p>
                  </div></mat-card-footer
                >
              </mat-card-content>
            </form>
          </mat-card>
        </div>
        <div class="col-md-1 col-sm-1"></div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4"></div>
  </div>
</div>
