<div id="grad1" class="row">
  <div fxLayoutAlign="center" class="col-lg-8 col-md-8">
    <!-- <img width="500" height="500" src="assets/loginImage.jpg" /> -->
  </div>
  <div class="col-lg-3 col-md-3">
    <div class="col-md-12 frmpadtp">
      <mat-card>
        <form>
          <mat-card-title
            ><span class="margLeft3">Welcome</span>
          </mat-card-title>
          <mat-card-subtitle
            ><span class="margLeft3">Login to continue</span></mat-card-subtitle
          >
          <mat-card-content>
            <div class="margTop10"></div>
            <div class="margTop10">
              <span class="floattxt">User Id</span>
              <input
                type="email"
                class="logininput"
                placeholder="Enter your User Id here"
                #loginemail
              />
            </div>
            <div class="margTop10">
              <span class="floattxtPass">Password</span>
              <input
                type="password"
                class="logininput"
                placeholder="Enter your password here"
                #loginemail
              />
            </div>
            <mat-card-actions>
              <div class="regpt3">
                <button
                  type="button"
                  class="btn loginbtn"
                  (click)="submitLogin()"
                >
                  Submit
                </button>
              </div>
            </mat-card-actions>
            <mat-card-footer>
              <div fxLayoutAlign="center" class="margTop10">
                <p>New User? <a>Register</a></p>
              </div></mat-card-footer
            >
          </mat-card-content>
        </form>
      </mat-card>
    </div>
  </div>
  <div class="col-lg-1 col-md-1"></div>
</div>
