<div class="col-lg-12 col-md-12 col-sm-12">
  <mat-card>
    <mat-car-title align="center"
      ><a><h3>New Transaction</h3></a></mat-car-title
    >
    <mat-horizontal-stepper [linear]="isLinear" #stepper labelPosition="bottom">
      <mat-step [stepControl]="referenceForm" label="Reference">
        <div style="padding-top: 8%">
          <form [formGroup]="referenceForm">
            <ng-template matStepLabel>Reference</ng-template>
            <div class="example-form">
              <!-- <p> -->
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Reference</mat-label>
                <input
                  matInput
                  placeholder="Enter the Reference Number"
                  required
                  formControlName="referenceNo"
                />
                <mat-error
                  *ngIf="
                    referenceForm.controls['referenceNo'].hasError('required')
                  "
                >
                  Reference is required!
                </mat-error>
              </mat-form-field>
              <!-- </p> -->
            </div>
            <br />
            <button mat-raised-button matStepperNext>Next</button>
          </form>
        </div>
      </mat-step>

      <mat-step [stepControl]="customerDetailForm" label="Customer Number">
        <div style="padding-top: 8%">
          <form [formGroup]="customerDetailForm">
            <ng-template matStepLabel>Customer Details</ng-template>
            <div class="col-lg-3 col-md-3 col-sm-12 example-form">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Customer Number</mat-label>
                <input
                  type="number"
                  matInput
                  placeholder="Enter the Account Number"
                  required
                  formControlName="custNo"
                />
                <mat-error
                  *ngIf="
                    customerDetailForm.controls['custNo'].hasError('required')
                  "
                >
                  Customer Number is required!
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 example-form">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Customer Name</mat-label>
                <input
                  type="text"
                  matInput
                  placeholder="Enter the Name"
                  required
                  formControlName="custName"
                />
                <mat-error
                  *ngIf="
                    customerDetailForm.controls['custName'].hasError('required')
                  "
                >
                  Cutomer Name is required!
                </mat-error>
                <!-- <mat-error
                  *ngIf="formEmailGroup.controls['custName'].hasError('custName')"
                >
                  Cutomer Name is not Valid!
                </mat-error> -->
              </mat-form-field>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 example-form">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Mobile</mat-label>
                <input
                  type="tel"
                  matInput
                  placeholder="Enter your Mobile Number"
                  required
                  formControlName="mobile"
                />
                <mat-error
                  *ngIf="
                    customerDetailForm.controls['mobile'].hasError('required')
                  "
                >
                  Phone Number is required!
                </mat-error>
                <mat-error
                  *ngIf="customerDetailForm.controls['mobile'].hasError('min')"
                >
                  Phone Number No is Wrong!
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 example-form">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Address</mat-label>
                <textarea
                  type="tel"
                  matInput
                  placeholder="Enter your Address"
                  required
                  formControlName="custAddress"
                ></textarea>
                <mat-error
                  *ngIf="
                    customerDetailForm.controls['custAddress'].hasError(
                      'required'
                    )
                  "
                >
                  Customer Address is required!
                </mat-error>
                <mat-error
                  *ngIf="
                    customerDetailForm.controls['custAddress'].hasError('min')
                  "
                >
                  Customer Address No is Wrong!
                </mat-error>
              </mat-form-field>
              <br /><br />
              <button align="end" mat-raised-button matStepperNext>Next</button>
            </div>
          </form>
        </div>
      </mat-step>

      <!-- Transaction Form -->
      <mat-step [stepControl]="transactionForm" label="Transfer Amount">
        <div style="padding-top: 8%">
          <form [formGroup]="transactionForm">
            <ng-template matStepLabel>Transaction Details</ng-template>
            <div class="col-lg-3 col-md-3 col-sm-12 example-form">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Amount</mat-label>
                <input
                  type="tel"
                  matInput
                  placeholder="Enter the Amount to transfer"
                  required
                  formControlName="amount"
                />
                <mat-error
                  *ngIf="
                    transactionForm.controls['amount'].hasError('required')
                  "
                >
                  Transfer Amount is required!
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 example-form">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Currency</mat-label>
                <mat-select
                  type="tel"
                  matInput
                  placeholder="Transfer Currency"
                  required
                  formControlName="currency"
                >
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let animal of animals" [value]="animal">
                    {{ animal.name }}
                  </mat-option>
                </mat-select>
                <mat-error
                  *ngIf="
                    transactionForm.controls['currency'].hasError('required')
                  "
                >
                  Transfer Currency is required!
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 example-form">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Bank</mat-label>
                <input
                  type="tel"
                  matInput
                  placeholder="Enter the Beneficiary Bank"
                  required
                  formControlName="bank"
                />
                <mat-error
                  *ngIf="transactionForm.controls['bank'].hasError('required')"
                >
                  Beneficiary Bank is required!
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 example-form">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Account Number</mat-label>
                <input
                  type="tel"
                  matInput
                  placeholder=" Enter the Beneficiary Account Number"
                  required
                  formControlName="bAccountNo"
                />
                <mat-error
                  *ngIf="
                    transactionForm.controls['bAccountNo'].hasError('required')
                  "
                >
                  Beneficiary Account Number is required!
                </mat-error>
              </mat-form-field>
            </div>
            <br />
            <button mat-raised-button matStepperNext>Next</button>
          </form>
        </div>
      </mat-step>

      <!-- Payment Form -->
      <mat-step [stepControl]="transactionForm" label="Transfer Amount">
        <div style="padding-top: 8%">
          <form [formGroup]="paymentForm">
            <ng-template matStepLabel>Payment</ng-template>
            <div class="example-form">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Payment</mat-label>
                <input
                  type="tel"
                  matInput
                  placeholder="Payment Details"
                  required
                  formControlName="payment"
                />
                <mat-error
                  *ngIf="paymentForm.controls['payment'].hasError('required')"
                >
                  Payment Details is required!
                </mat-error>
                <mat-error
                  *ngIf="paymentForm.controls['payment'].hasError('min')"
                >
                  Payment Details is Wrong!
                </mat-error>
              </mat-form-field>
            </div>
            <br />
            <button mat-raised-button matStepperNext>Next</button>
          </form>
        </div>
      </mat-step>

      <!-- Submit Transaction -->
      <mat-step>
        <ng-template matStepLabel>Review</ng-template>
        <div class="col-lg-9 col-md-9"></div>
        <div class="col-lg-3 col-md-3 col-sm-12" style="padding-top: 8%">
          <h5>Click submit to continue transaction</h5>
          <div>
            <button mat-raised-button matStepperPrevious>Back</button>
            &nbsp; &nbsp;
            <button mat-raised-button type="submit" (click)="register()">
              Submit
            </button>
            &nbsp; &nbsp;
            <button mat-raised-button (click)="stepper.reset()">Reset</button>
          </div>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-card>
</div>
